[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "foundation"]
	path = foundation
	url = https://github.com/zurb/foundation.git
[submodule "yaml"]
	path = yaml
	url = https://github.com/yamlcss/yaml.git
[submodule "Frameless"]
	path = Frameless
	url = https://github.com/jonikorpi/Frameless.git
[submodule "roots"]
	path = roots
	url = https://github.com/roots/roots.git
[submodule "bxslider-4"]
	path = bxslider-4
	url = https://github.com/stevenwanderski/bxslider-4.git
[submodule "jquery-backstretch"]
	path = jquery-backstretch
	url = https://github.com/srobbin/jquery-backstretch.git
[submodule "p2_media_image_select"]
	path = p2_media_image_select
	url = git@github.com:bjorsq/p2_media_image_select.git
[submodule "elements"]
	path = elements
	url = https://github.com/dmitryf/elements.git
