[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "foundation"]
	path = foundation
	url = https://github.com/zurb/foundation.git
[submodule "yaml"]
	path = yaml
	url = https://github.com/yamlcss/yaml.git
[submodule "Frameless"]
	path = Frameless
	url = https://github.com/jonikorpi/Frameless.git
[submodule "roots"]
	path = roots
	url = https://github.com/roots/roots.git
[submodule "bxslider-4"]
	path = bxslider-4
	url = https://github.com/stevenwanderski/bxslider-4.git
